* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* SCROLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #222121;
}

::-webkit-scrollbar-track {
    background: #8d8d8d;
}

/* ================ HOME ================= */

.home {
    height: 667px;
}

.home .navbar {
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home .navbar .logo-section {
    display: flex;
    align-items: center;
}

.home .navbar .logo-section .image {
    height: 55px;
    width: 55px;
}

.home .navbar .logo-section span {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;
}

.home .navbar .logo-section span:hover {
    color: #DE2E54FF;
}

.home .navbar ul {
    display: flex;
}

.home .navbar ul li {
    margin: 0 30px;
    font-size: 20px;
}

.home .navbar ul li a {
    color: #000;
    text-decoration: none;
    transition: .3s ease;
}

.home .navbar ul li a:hover {
    color: #DE2E54FF;
}

.home .navbar .btn {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #DE2E54FF;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .3s ease;
    border: solid 3px #DE2E54FF;
}

.home .navbar .btn:hover {
    background: transparent;
    border: solid 3px #DE2E54FF;
    color: #DE2E54FF;
}

.home .home-page {
    height: 87%;
    background: #0EB4C1FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-y: hidden;
}

.home .home-page .content-side {
    width: 50%;
}

.home .home-page .content-side h1 {
    color: #fff;
    width: 650px;
    font-size: 40px;
}

.home .home-page .content-side p {
    color: #fff;
    margin-top: 40px;
    width: 400px;
    font-size: 20px;
    letter-spacing: 2px;
}

.home .home-page .content-side button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #DE2E54FF;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .3s ease;
}

.home .home-page .content-side button:hover {
    background: #B5496AFF;
}

.image-side {
    width: 450px;
    object-fit: cover;
}

.image-side img {
    width: 100%;
    height: 100%;
    margin-top: 300px;
}

/* ================ SERVICE ================= */

.service {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service h1 {
    margin-top: 40px;
}

.service .facility {
    width: 900px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.service .facility img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service .facility h2 {
    margin-bottom: 40px;
}

.service .facility p {
    letter-spacing: 1px;
}

.service .btn {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #DE2E54FF;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 3px #DE2E54FF;
    transition: .3s ease;
}

.service .btn:hover {
    background: transparent;
    border: solid 3px #DE2E54FF;
    color: #DE2E54FF;
}

/* ================ FOOTER ================= */

.footer {
    height: 400px;
    background: #0EB4C1FF;
    position: relative;
}

.footer h1 {
    color: #fff;
}

.footer .top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}


.footer .top-section button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 50px 10px 0 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 3px #fff;
    transition: .3s ease;
    text-transform: uppercase;
}

.footer .top-section button:hover {
    background: #DE2E54FF;
    border: solid 3px #DE2E54FF;
}

.footer .bottom-section {
    height: 90px;
    background: #222222FF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .logo-section {
    display: flex;
    align-items: center;
}

.footer .logo-section .image {
    height: 55px;
    width: 55px;
}

.footer .logo-section span {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;
    color: #fff;
}

.footer .logo-section span:hover {
    color: #DE2E54FF;
}

.footer ul {
    display: flex;
}

.footer ul li {
    margin: 0 30px;
    font-size: 20px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease;
}

.footer ul li a:hover {
    color: #DE2E54FF;
}
